name: Docker Image Ngrok-Caddy
on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *" # 6 am Daily
  push:
    branches:
      - main
    paths:
      - caddy-ngrok/**
      - .github/workflows/ngrok-caddy.yml

jobs:
  ngrok-caddy:
    name: NGrok Caddy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.ACT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ !env.ACT }}

      - uses: docker/build-push-action@v6
        with:
          context: dnsmasq
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref == 'refs/heads/main' && !env.ACT }}
          tags: ghcr.io/${{ github.repository_owner }}/caddy-ngrok:latest, wardenenv/caddy-ngrok:latest
